.small-text {
    font-size: small;
    display: block;
  }
  
  .value {
    font-size: larger;
    font-weight: bold;
    display: block;
  }
  
  .unit {
    font-size: small;
    display: block;
  }
  